:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.dialog-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.add-button {
  align-self: center;
}

.demo-tab-content {
  padding: 15px;
}

.grey {
  background-color: oldlace;
}

.table-1 {
  max-height: 360px;
  overflow-y: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  border-collapse: collapse;

  .mat-header-row,
  .mat-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .mat-row {

    &:nth-child(even) {
      .mat-cell {
        background: #FAFAFA;
      }
    }
  }

  .mat-header-cell {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #383838;
  }

  .mat-cell {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #383838;

    .fw-500 {
      font-weight: 500;
    }

    i {
      width: 12px;
      min-width: 12px;
      height: 12px;
      border-radius: 50%;
      display: block;
      margin-right: 10px;

      &.status-faild {
        background: #FF4B55;
      }

      &.status-in-progress {
        background: #0EA3D1;
      }

      &.status-completed {
        background: #00AB07;
      }

      &.status-new {
        background: #e6e6e6;
      }
    }
  }

  .mat-header-cell,
  .mat-cell {
    padding-left: 10px;
    padding-right: 10px;
  }

  .mat-cell:first-of-type,
  .mat-footer-cell:first-of-type,
  .mat-header-cell:first-of-type {
    padding-left: 10px;
    width: 70px;
  }
}

.btn-border {
  border: 1px solid #41479B;
  border-radius: 3px;
  min-width: 140px;
  margin-right: 20px;

  +button {
    min-width: 140px;
    border-radius: 3px;
    box-shadow: none !important;
  }
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
