<div class="add-category" *ngxPermissionsOnly="['SUPER_ADMIN', 'EDIT_MARKETPLACES']" (click)="openAddCategory()"><mat-icon style="line-height: 0.8;">add_circle_outline</mat-icon><div>Добавить категорию верхнего уровня</div></div>
<div *ngIf="isEmpty">Пусто</div>
<div class="loading-shade"
         *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
<div cdkDropList cdkDropListOrientation="horizontal" *ngIf="category && category.length > 0" class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let cat of category" cdkDrag>
    <div class="header-card"><span class="main-category">{{cat.nameRu}}</span>
      <div>
      <svg width="20px" fill="currentColor" viewBox="0 0 24 24" cdkDragHandle style="color: #0000004a; cursor: pointer;">
          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      <mat-icon color="accent" style="cursor: pointer;" (click)="deletCategory(cat)" *ngxPermissionsOnly="['SUPER_ADMIN', 'DELETE_MARKETPLACES']">close</mat-icon>
      </div>
    </div>
    <div cdkDropList (cdkDropListDropped)="dropChild($event, cat.childs)">
      <div *ngFor="let child of cat.childs; let i=index"
           cdkDrag>
        <div class="d-flex align-items-center">
          <i class="material-icons mr-2"
             style="cursor: pointer;"
             (click)="onEditCategoryIconClick(child)"
             matPrefix>add_a_photo</i>
          <span>{{ child.nameRu }}</span>
          <svg width="12px" fill="currentColor" viewBox="0 0 24 24" cdkDragHandle style="color: #0000004a; cursor: pointer;">
            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
            <path d="M0 0h24v24H0z"
                  fill="none"></path>
          </svg>
        </div>
        <div *ngIf="i==5" class="add-category" (click)="openMoreChildren(cat.childs)">Показать все...</div> 
      </div>
    </div>
  </div>
</div>
<div style="margin-left: 8px;" *ngIf="category && category.length > 0">
  <button  class="btn-fill" mat-raised-button (click)="save()" *ngxPermissionsOnly="['SUPER_ADMIN', 'EDIT_MARKETPLACES']">
    Сохранить
  </button>
</div>
<div style="color: green;" *ngIf="isAccept">Категории обновленны</div>
