:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.b-checkbox-wrap{
  ::ng-deep.mat-checkbox {
    display: block;

    &.mat-accent{
      .mat-ripple-element {
        background-color: #3f51b5;
      }
    }
    &.mat-accent {
      &.mat-checkbox-checked{
        .mat-checkbox-background {
          background-color: #3f51b5;
        }
      }
    }
  }

  ::ng-deep.mat-checkbox-frame {
    border-width: 1px;
    border-color: #727272;
  }
  ::ng-deep.mat-checkbox-label {
    line-height: 1;
    font-size: .875rem;
    color: #202020;
    display: flex;
    align-items: center;
  }
  ::ng-deep.mat-checkbox-layout {
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
  ::ng-deep.mat-checkbox-inner-container {
    width: 20px;
    height: 20px;
    margin: 0 8px 0 0;
  }
}
