<div class="popup-inner-2">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div class="e-icon">
        <i class="bb bb-cancel-circle"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="e-text">
        Вы уверены, что хотите заблокировать клиента?
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <button class="btn-full" mat-raised-button [mat-dialog-close]="true">ДА!</button>
      <button class="btn-border" mat-raised-button [mat-dialog-close]="false">Я передумал(а)</button>
    </div>
  </div>
</div>
