:host {
  display: flex;
  flex-direction: column;
}

.input-small ::ng-deep .mat-form-field-infix {
  width: 100px;
}

@mixin rem($size) {
  font-size: $size/16*1rem;
}

.color-primary {
  color: #3f51b5 !important;
}
.w-80 {
  width: 80px !important;
}

.e-find-input {
  height: 50px;
  flex-grow: 1;
  position: relative;
  &.bb {
    position: relative;
    .e-icon {
      width: 30px;
      height: 30px;
      margin-left: 9px;
      position: relative;
      min-width: 30px;
      cursor: pointer;
    }
    &:before {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "b2bcash";
      font-size: 0.825rem;
      color: #BDBDBD;
      left: 5px;
      top: 50%;
      margin-top: -7px;
    }
    &::ng-deep.mat-form-field-placeholder {
      padding-left: 32px;
      padding-top: 18px;
    }
    &::ng-deep.mat-input-element {
      padding-left: 32px;
    }
  }

  &.icon-home {
    position: relative;
    .e-icon {
      width: 30px;
      height: 30px;
      margin-left: 9px;
      position: relative;
      min-width: 30px;
      cursor: pointer;
      &:before {
        content: "\E88A";
        position: absolute;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Material Icons";
        font-size: 1.5rem;
        left: 0;
        top: 50%;
        margin-top: -15px;
        border: 1px solid;
        border-radius: 50%;
      }
    }
    &::ng-deep.mat-form-field-placeholder {
      padding-left: 12px;
    }
    &::ng-deep.mat-input-element {
      padding-left: 12px;
    }
  }
  &.icon-ship {
    position: relative;
    .e-icon {
      width: 30px;
      height: 30px;
      margin-left: 9px;
      position: relative;
      min-width: 30px;
      cursor: pointer;
      &:before {
        content: "\E532";
        position: absolute;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Material Icons";
        font-size: 1.5rem;
        left: 0;
        top: 50%;
        margin-top: -15px;
        border: 1px solid;
        border-radius: 50%;
      }
    }
  }
  &.icon-plane {
    position: relative;
    .e-icon {
      width: 30px;
      height: 30px;
      margin-left: 9px;
      position: relative;
      min-width: 30px;
      cursor: pointer;
      &:before {
        content: "\E539";
        position: absolute;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Material Icons";
        font-size: 1.5rem;
        left: 0;
        top: 50%;
        margin-top: -15px;
        border: 1px solid;
        border-radius: 50%;
      }
    }
  }
  &.icon-train {
    position: relative;
    .e-icon {
      width: 30px;
      height: 30px;
      margin-left: 9px;
      position: relative;
      min-width: 30px;
      cursor: pointer;
      &:before {
        content: "\E570";
        position: absolute;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Material Icons";
        font-size: 1.5rem;
        left: 0;
        top: 50%;
        margin-top: -15px;
        border: 1px solid;
        border-radius: 50%;
      }
    }
  }
  &.icon-gray-package {
    &:before {
      content: "\e9d2";
      font-family: 'b2bcash';
      @include rem(22);
      position: absolute;
      top: 50%;
      margin-top: -15px;
      bottom: 0;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #CCCCCC;
      left: 8px;
    }
  }
  &::ng-deep b2b-station-country {
    height: 100%;
    width: 100%;
  }
}
