.button-save {
    max-width: 200px;
}

.first-line-tech {
    min-width: 200px;
    margin-right: 20px;
}

.grey-text {
    color: grey;
    font-style: italic;
}

.bold-text {
    font-style: italic;
    font-weight: 600;
}

.images-upload {
    display: flex;
}

.bold-text {
    display: block;
}