@mixin rem($size) {
  font-size: $size/16*1rem;
}
:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  ::ng-deep.demo-tab-content {
    padding: 15px 0 !important;
  }

  .d-flex.hidden,
  .row.hidden {
    display: none !important;
  }

  .category-btn {
    background-color: #3f51b5;
    border-radius: 3px;
    text-align: center;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    line-height: 1;
    color: #fff;
    font-weight: normal;
    @include rem(13);
    transition: .2s ease-out;

    &.width-1 {
      width: 159px;
    }

    &:hover {
      background: #2f3c88;
    }
  }

  .form-control {
    height: 30px;
    background: #FAFAFA;
    border: 1px solid #C7C7C7;
    border-radius: 3px;
    outline: none !important;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 1;
    color: #383838;

    &.width-1 {
      width: 160px;
    }

    &.width-2 {
      width: 170px;
    }
    &.width-3 {
      width: 140px;
    }
  }

  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
    color: #383838;
    margin-bottom: 20px;
  }
}

.b-inner {
  border: 1px solid #ECECEC;
  padding: 15px;
  overflow-y: auto;
  max-height: calc(65vh - 67px);
}

.wrap-radio-button {
  margin-top: 10px;
  ::ng-deep.mat-radio-button {
    margin-bottom: 5px;
  }
  ::ng-deep.mat-radio-group {
    width: 100%;
    display: block;
  }

  ::ng-deep.mat-radio-label {
    white-space: normal;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 12px;
    color: #383838;
  }
}

.b-input {
  width: 100%;

  input {
    background: #FAFAFA;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 5px 10px;
    height: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 1;
    color: #383838;
    width: 100%;
  }

  &.width-1 {
    width: 159px;
  }
}

.btn-delete {
  ::ng-deep.mat-icon-button {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

.b-arrow {
  position: relative;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 40px;
  width: 40px;
  height: 19px;
  margin-left: 20px;

  &--line {
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 0;
    background-color: #41479B;
  }
  &:after {
    content: "";
    position: absolute;
    border-top: 2px solid #41479B;
    border-right: 2px solid #41479B;
    transform: rotate(45deg);
    width: 8px;
    height: 8px;
    top: 50%;
    margin-top: -5px;
    right: 0;
  }
}
.b-dictionary-header-wrap {
  margin-bottom: 14px;
}
.b-dictionary-header-coll1 {
  width: 140px;
  font-size: 14px;
  margin-right: 80px;
}
.b-dictionary-header-coll2 {
  width: 140px;
  font-size: 14px;
}
.b-dictionary-line-wrap {
  margin-bottom: 15px;
}
.b-dictionary-line-coll1 {
  width: 140px;

  select:first-child {
    margin-bottom: 5px;
  }
}
.b-dictionary-line-coll2 {
  margin-top: 6px;
  margin-right: 20px;
}
.b-dictionary-line-coll3 {
  max-width: 260px;
}
.b-dictionary-line-coll4 {
  width: 170px;
  select:first-child {
    margin-bottom: 5px;
  }
}
.b-dictionary-line-coll5 {
  width: 30px;
  margin-left: 10px;
}
