<div class="popup-inner-1">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div class="e-star">
        <i class="bb bb-rating-full"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="e-text">
        Вы уверены, что хотите закрыть данный чат?
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <button class="btn-full" mat-raised-button [mat-dialog-close]="true">Да </button>
      <button class="btn-border" mat-raised-button [mat-dialog-close]="false">Нет</button>
    </div>
  </div>
</div>
