<div class="popup-inner-3">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div class="e-icon">
        <i class="bb bb-alert-outline"></i>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <div class="e-text color-red text-uppercase">{{'chat.ATTENTION' }}</div>
      <div class="e-text">{{'chat.notEnoughConsultants' }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <!--<button class="btn-full" mat-raised-button>{{'chat.createConsultant' }}</button>-->
      <button class="btn-border" mat-raised-button [matDialogClose]="false">{{'chat.close' }}</button>
    </div>
  </div>
</div>
