<div class="d-flex flex-column align-items-center b2b-autocomplete">
  <mat-form-field class="b2b-autocomplete__field"
                  floatPlaceholder="never">
    <input type="text"
           matInput
           [placeholder]="placeholder"
           [formControl]="autoCompleteControl"
           [matAutocomplete]="autocomplete">
    <mat-autocomplete #autocomplete="matAutocomplete">
      <mat-option *ngFor="let item of items$ | async"
                  [value]="item.name"
                  (onSelectionChange)="onOptionSelectedChanged(item)">
        {{item.name}}
      </mat-option>
    </mat-autocomplete>
    <mat-spinner *ngIf="isLoading"
                 [diameter]="15"
                 matSuffix></mat-spinner>
  </mat-form-field>
</div>


